@import "./reset.css";

/*-----color-variable----*/
:root {
  --main-bg-color: #cddf20;
  --secondary-bg-color: #e6e6e6;
  --black: #000000;
  --white: white;
}

/*---font-style----*/
@font-face {
  font-family: "GenSekiGothic";
  src: url("./fonts/genseki-font-master/GenSekiGothic-R.ttc") format("truetype");
}
@font-face {
  font-family: "futur";
  src: url("./fonts/futura/futur.ttf") format("truetype");
}

/*----typography--*/
body {
  font-family: "GenSekiGothic";
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 90%;
}
